<section class="hero is-fullheight has-text-centered has-background-white-ter" id="cases">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure class="services">
                        <img src="{{site.services-image}}" alt="{{site.title}}">
                    </figure>
                    <br><br>
                    <div class="container columns is-centered">
                        <div class="case-histories-{{site.case-histories-type}}">
                            {% case site.case-histories-type %}
                                {% when "modal" %}
                                    <button
                                        class="button is-rounded is-uppercase has-text-weight-normal is-primary js-modal-trigger"
                                        data-target="modal-js-cases">
                                        <i class="fas fa-file-alt"></i>&nbsp;
                                        Case histories
                                    </button>
                                {% when "link" %}
                                    <a href="{{site.case-histories-link}}" target="_blank"
                                        class="button is-rounded is-uppercase has-text-weight-normal is-primary">
                                        <i class="fas fa-file-alt"></i>&nbsp;
                                        Case histories
                                    </a>
                                {% when "download" %}
                                    <a href="{{site.case-histories-link}}" download
                                        class="button is-rounded is-uppercase has-text-weight-normal is-primary">
                                        <i class="fas fa-file-alt"></i>&nbsp;
                                        Case histories
                                    </a>
                            {% endcase %}
                        </div>
                    </div>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-primary is-outlined">
                                <i class="fas fa-paper-plane"></i>&nbsp;
                                Contact Us
                            </a>
                        </div>
                    </div>
                    <br><br>
                    <hr><br><br>
                    <div class="container columns is-centered">
                        <div>
                            <p>{{site.services-about}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% if site.case-histories-type == 'modal' %}
<div id="modal-js-cases" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content container">
        <div class="box">
            {% if site.case-histories-download %}
            <a href="{{site.case-histories-download}}" download target="_blank"
                class="button is-rounded is-uppercase has-text-weight-normal is-primary">
                <i class="fa fa-file-pdf"></i>&nbsp;
                Download PDF
            </a>
            {% endif %}
            <iframe src={{site.case-histories-link}} class="">
                <a href="{{site.case-histories-link}}" target="_blank">Open in a separate window</a>
            </iframe>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}