// Variables
$font-family: 'Roboto';
$container-width: 1170px;

$spacer: 1rem;
$video_opacity: .4;
$primary: #701414;

$transition_base: all linear 200ms;

$button_big_padding_vertical: 1.5rem;
$button_big_padding_horizontal: 2.5rem;
