---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include navbar.html %}


<section class="hero is-fullheight has-text-centered" id="page">
    <div class="hero-body">
        <div class="container">
            {% if page.title %}
            <h1 class="title is-1 is-uppercase has-text-weight-bold">
                {{page.title}}
            </h1>
            <hr class="has-background-black">
            {% endif %}
            <div class="columns is-variable is-12">
                <div class="column is-12">
                    <figure class="image has-shadow">
                        <img src="{{page.post-image}}" alt="{{post.title}}" id="post-image">
                    </figure>
                </div>
            </div>
            <div class="columns is-variable is-12">
                <div class="subtitle column is-12 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
                    {% unless page.description.size == 0 %}
                    <p id="description" class="content is-small has-text-weight-medium is-uppercase">{{page.description | strip | strip_html | strip_newlines }}</p>
                    {% endunless %}
                </div>
            </div>
            <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
</section>
<!--Footer begins here-->
{% include footer.html %}
</body>

</html>